__pycache__
sync_dl/tests/testPlaylists
sync_dl/tests/testing.log
notepad.py
debug.log
sync_dl/tmp
sync_dl/config.ini
config.ini
sync_dl.egg-info

build
dist
sync_dl/yt_api/credentials.pickle
unEncrypted
encrypted_unobfucated
encryptAndMove.py